.person {
  display: inline-block;
}

.gop {
  background-color: red;
}

.dem {
  background-color: blue;
}

.suit {
  background-color: black;
}

.carson-skin {
  background-color: #7B4B2A;
}

.caucasian {
  background-color: #FFE0BD;
}

.dropped {
  display: none;
}

.trump-hat,
.trump-hat-bill {
  background-color: red;
  position: relative;
}

.trump-hat {
  border-radius: 50px 50px 0 0;
  height: 25px;
  width: 100px;
  margin: 0 auto;
}

.trump-hat-bill {
  border-radius: 0 0 0 50px;
  height: 10px;
  width: 108px;
  top: -2px;
  right: 8px;
  z-index: 1;
}

.trump-hair-left,
.trump-hair-right {
  background-color: yellow;
  height: 20px;
  width: 5px;
  position: relative;
}

.trump-hair-left {
  bottom: 10px;
}

.trump-hair-right {
  left: 95px;
  bottom: 30px;
}

.cruz-hair-top-left,
.cruz-hair-top-right,
.cruz-hair-side-left,
.cruz-hair-side-right {
  background-color: #3F250B;
  position: relative;
}

.cruz-hair-top-left,
.cruz-hair-top-right {
  height: 25px;
}

.cruz-hair-top-left {
  border-radius: 120px 50px 0 0;
  width: 75px;
  margin-right: auto;
}

.cruz-hair-top-right {
  border-radius: 50px 120px 0 0;
  width: 30px;
  margin-left: auto;
  bottom: 25px;
}

.cruz-hair-side-left,
.cruz-hair-side-right {
  height: 30px;
}

.cruz-hair-side-left {
  border-radius: 50px 0 0 0;
  width: 10px;
  bottom: 35px;
}

.cruz-hair-side-right {
  border-radius: 0 5px 0 0;
  width: 15px;
  left: 87px;
  bottom: 65px;
}

.rubio-hair,
.rubio-hair-left,
.rubio-hair-right {
  background-color: #654321;
  position: relative;
}

.rubio-hair {
  border-radius: 50px 120px 0 0;
  height: 25px;
  width: 100px;
  margin: 0 auto;
}

.rubio-hair-left,
.rubio-hair-right {
  height: 30px;
}

.rubio-hair-left {
  border-radius: 50px 0 0 0;
  width: 10px;
  bottom: 10px;
}

.rubio-hair-right {
  border-radius: 0 5px 0 0;
  width: 15px;
  left: 87px;
  bottom: 40px;
}

.carson-hair {
  background-color: dimgrey;
  border-radius: 50px 50px 0 0;
  height: 50px;
  width: 100px;
  position: absolute;
  bottom: 150px;
}

.kasich-hair,
.kasich-hair-left,
.kasich-hair-right {
  background-color: gray;
  position: relative;
}

.kasich-hair {
  border-radius: 50px 50px 0 0;
  height: 20px;
  width: 96px;
  margin: 0 auto;
}

.kasich-hair-left,
.kasich-hair-right {
  height: 40px;
  width: 10px;
}

.kasich-hair-left {
  border-radius: 50px 0 0 0;
  bottom: 10px;
}

.kasich-hair-right {
  border-radius: 0 50px 0 0;
  left: 90px;
  bottom: 50px;
}

.bush-hair,
.bush-hair-tuft,
.bush-hair-side {
  background-color: silver;
  position: relative;
}

.bush-hair {
  border-radius: 50px 120px 0 0;
  height: 25px;
  width: 94px;
  margin: 0 auto;
}

.bush-hair-tuft {
  border-radius: 0 0 20px 20px;
  height: 8px;
  width: 30px;
  left: 3px;
}

.bush-hair-side {
  border-radius: 0 5px 0 0;
  height: 30px;
  width: 15px;
  left: 87px;
  bottom: 10px;
}

.clinton-hair-top-left,
.clinton-hair-top-right,
.clinton-hair-side-left,
.clinton-hair-side-right {
  background-color: lemonchiffon;
  position: relative;
}

.clinton-hair-top-left {
  border-radius: 120px 50px 0 0;
  height: 35px;
  width: 60px;
  margin-right: auto;
  bottom: 10px;
}

.clinton-hair-top-right {
  border-radius: 50px 120px 0 0;
  height: 30px;
  width: 50px;
  margin-left: auto;
  bottom: 40px;
}

.clinton-hair-side-left,
.clinton-hair-side-right {
  height: 55px;
  width: 10px;
}

.clinton-hair-side-left {
  border-radius: 0 0 0 50px;
  bottom: 40px;
}

.clinton-hair-side-right {
  border-radius: 0 0 50px 0;
  left: 90px;
  bottom: 95px;
}

.sanders-hair {
  background-color: ghostwhite;
  border-radius: 50px 50px 0 0;
  height: 50px;
  width: 100px;
  position: absolute;
  bottom: 150px;
}

.head {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  position: relative;
  margin: 0 auto;
  top: 7px;
  z-index: 2;
}

.eye-left,
.eye-right {
  background-color: black;
  border-radius: 100%;
  height: 15px;
  width: 15px;
  position: absolute;
  top: 35px;
}

.eye-left {
  left: 20px;
}

.eye-right {
  left: 60px;
}

.glasses-left,
.glasses-bridge,
.glasses-right {
  opacity: 0.8;
  position: absolute;
}

.glasses-left,
.glasses-right {
  background-color: white;
  border: 1px solid silver;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  top: 40px;
  z-index: 1;
}

.glasses-left {
  left: 28px;
}

.glasses-bridge {
  background-color: silver;
  height: 1px;
  width: 17px;
  left: 39px;
  top: 45px;
}

.glasses-right {
  left: 56px;
}

.torso,
.pantsuit-top {
  border-radius: 50px 50px 0 0;
  width: 100px;
  position: relative;
  margin: 0 auto;
}

.torso {
  height: 100px;
}

.pantsuit-top {
  height: 150px;
}

.shirt,
.shirt-dem {
  height: 0;
  width: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  position: relative;
  margin: 0 auto;
}

.shirt {
  border-top: 40px solid white;
}

.shirt-dem {
  border-top: 40px solid blue;
}

.tie-gop,
.tie-dem {
  height: 0;
  width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  top: 5px;
  left: 45px;
  z-index: 1;
}

.tie-gop {
  border-top: 10px solid red;
}

.tie-dem {
  border-top: 10px solid blue;
}

.tie-knot {
  border-radius: 4px;
  height: 4px;
  width: 4px;
  position: relative;
  margin: 0 auto;
  bottom: 28px;
}

.tie-long-gop,
.tie-long-dem {
  height: 0;
  width: 2px;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  position: relative;
  margin: 0 auto;
  bottom: 28px;
}

.tie-long-gop {
  border-bottom: 18px solid red;
}

.tie-long-dem {
  border-bottom: 18px solid blue;
}

.tie-end-gop,
.tie-end-dem {
  height: 0;
  width: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  position: relative;
  margin: 0 auto;
  bottom: 28px;
}

.tie-end-gop {
  border-top: 6px solid red;
}

.tie-end-dem {
  border-top: 6px solid blue;
}

.legs,
.pantsuit-legs {
  width: 80px;
  position: relative;
  margin: 0 auto;
}

.legs {
  height: 100px;
}

.pantsuit-legs {
  height: 50px;
}

.bar {
  width: 150px;
}